@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic)

*
	padding: 0
	margin: 0
	border: none
	box-sizing: border-box
	font-family: Montserrat

#__next
	display: flex
	flex-direction: column
	align-items: center
	min-height: 100vh

a
	text-decoration: none
	color: inherit


main
	h1
		font-size: 48px
		font-weight: 700

	h2
		font-size: 32px
		font-weight: 400

	p
		font-size: 18px
		font-weight: 400
		word-spacing: 0.2em

	h1, h2, p
		line-height: 1.6

button
	color: inherit
	font-size: inherit
	background: none