$colorBrightest: rgb(255, 255, 255)
$colorLight: rgb(200, 200, 200)
$colorMedium: rgb(120, 120, 120)
$colorDark: rgb(80, 80, 80)
$colorSemiDark: rgb(65, 65, 65)
$colorSemiDarkest: rgb(50, 50, 50)
$colorDarkest: rgb(40, 40, 40)

$colorAnchorInactive: rgb(130, 170, 255)
$colorAnchorActive: rgb(85, 140, 255)
$colorAnchorVisitedInactive: rgb(200, 150, 255)
$colorAnchorVisitedActive: rgb(175, 100, 255)
$boxShadowInactive: 0 0 8px 1px black
$boxShadowActive: 0 0 12px 2px black


$contentMaxWidth: 1200px

$headerHeight: 32px
$headerMaxWidth: $contentMaxWidth
$headerBackgroundColor: $colorDark

$mainMaxWidth: $contentMaxWidth
$mainBackgroundColor: $colorDarkest

$footerMinHeight: 100px
$footerMaxWidth: $contentMaxWidth
$footerBackgroundColor: $colorDarkest